* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-transform: capitalize;
}

:root {
    --main-background: #F0F0F0;
    --box-background-color: #FFFFFF;
    --text-white: white;
    /* --red-color: #F71D2A; */
    --box-shadow: 1px 1px 9px rgba(200, 187, 187, 0.55);
    --navhover-yellow-color: yellow;
    --btn-color: #0D0940;
    --headline-text-color: #464646;
    --paragraph-text-co: #626262;
    --review-star-color: #C4BCBC;
}

body {
    background: #F0F0F0;
}


.maindiv {
    padding: 16px;
    border-radius: 10px;
    background-color: var(--box-background-color);
}

.booking-model {
    justify-content: space-between;
    gap: 15px;
}
.booking-model img {
    border-radius: 5px;
    width: 350px;
}


.hotel-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 379px;
}

/* ///Right Side Section Codes/////--- */
.reservation-box {
    width: 410px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid gray;
}

.checking-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-box span {
    color: gray;
}

.checking-box h5 {
    color: var(--dark-bule)
}

.reservation-box h4 {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}

.reservation-box h6 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}

.dark-bule-text {
    color: var(--dark-bule);
    font-size: 16px;
    font-weight: 500;
}

.info-box span {
    color: gray;
    font-size: 13px;
}

.price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-box h5 {
    color: var(--dark-bule);
    font-weight: 600;
}

.price-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-btn button {
    background-color: var(--btn-color);
    color: #fff;
    padding: 10px 59px;
    border-radius: 19px;
    outline: none;
    border: none;
    text-transform: capitalize;
    margin: 17px 0;
}





/* media query code */
@media (max-width:1198px) {
    .flex-dire {
        display: flex;
        flex-direction: column;
    }

    .book-img {
        width: 279px;
    }

    .hotel-info {

        width: 250px;
    }

}

@media (max-width:957px) {

    .reservation-box {
        margin-top: 50px;
        width: 250px;
    }

}