* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-transform: capitalize;
}

:root {

    --text-color: gray;
    --dark-bule: darkblue;
    --btn-color: #0D0940;
}

.booking-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;

}

.book-des {
    text-transform: capitalize;
}

.book-img {
    width: 350px;
}

.book-img img {
    width: 100%;
    border-radius: 8px;
}

/* .book-des{
    position: relative;
} */


.ractiong i {
    /* color: yellow; */
}

.fa-star {
    color: #FFCD40;
}

.ractiong span {
    color: gray;
    text-transform: capitalize;
}


.hotel-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 379px;
}

.room-info i {
    color: gray;
    text-transform: capitalize;
}

.box i {
    color: gray;
}

.reservation-box {
    width: 410px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid gray;
}

.checking-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation-box span {
    color: gray;
}

.checking-box h5 {
    color: var(--dark-bule)
}

.reservation-box h4 {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}

.reservation-box h6 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-color);
}

.dark-bule-text {
    color: var(--dark-bule);
    font-size: 16px;
    font-weight: 500;
}

.info-box span {
    color: gray;
    font-size: 13px;
}

.price-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-box h5 {
    color: var(--dark-bule);
    font-weight: 600;
}

.price-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-btn button {
    background-color: var(--btn-color);
    color: #fff;
    padding: 10px 59px;
    border-radius: 19px;
    outline: none;
    border: none;
    text-transform: capitalize;
    margin: 17px 0;
}





/* media query code */
@media (max-width:1198px) {
    .flex-dire {
        display: flex;
        flex-direction: column;
    }

    .book-img {
        width: 279px;
    }

    .hotel-info {

        width: 250px;
    }

}

@media (max-width:957px) {

    .reservation-box {
        margin-top: 50px;
         width: 250px;
    }

}