* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    margin-top: 50px;
} */

.slide img{
    width: 100%;
    height: 300px;
}

.filter-bg {
    background: #F0F0F0;
}

.headline {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
}

h1 {
    font-size: 20px;
}

p {
    margin: 0px;
}

.details-sec {
    align-items: center;
    display: flex;
    gap: 10px;
}

.details-sec a {
    text-decoration: none;
    color: black;
}

.rating {
    background-color: #0D0940;
    color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.rating {
    margin: 0;
}

/* Motors details */
.about-details {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

.text {
    margin-top: 10px;
}

/* map sec */
.map-sec {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

iframe {
    margin-top: 10px;
    border-radius: 5px;
}

/* rating-sec */
.rating-sec {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}

.perant-div {
    display: flex;
    gap: 25px;
}

.box-1 {
    background-color: #0D0940;
    color: white;
    max-width: 100px;
    height: 140;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.box-1 em {
    font-size: 30px;
    font-weight: 700;
}

.box-1 p {
    font-size: 10px;
    color: #EEEBEB;
}

.rat-line p {
    font-size: 10px;
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.rating-line {
    width: 145px;
    /* height: 1px; */
    padding: 1px ;
    background-color: black;
}
.login{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.login-text{
    display: flex;
    align-items: center;
    gap: 10px;
    /* height: 50px; */
}
.login p{
    text-align: center;
}
.login a{
    color: red;
}