* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------- custom codes -------------------------------*/
:root {
    --main-background: #F0F0F0;
    --box-background-color: #FFFFFF;
    --text-white: white;
    --red-color: #F71D2A;
    --box-shadow: 1px 1px 9px rgba(200, 187, 187, 0.55);
    --btn-color: #0D0940;
    --headline-text-color: #464646;
    --paragraph-text-co: #626262;
}




.row {
    justify-content: space-between;
}

/*------------------------------ Header sec codes here----------------- */
.navbar {
    background: linear-gradient(to bottom,
            #0d0940e0,
            #00000087);
}

.logo-name {
    color: var(--text-white);
    font-weight: bold;
    font-size: 30px;
}

.nav-link {
    color: white;
}

.cta-btn-header {
    background-color: var(--red-color);
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 2px 0px rgba(255, 255, 255, 25%);
}

.nav-item .active {
    border-bottom: 1px solid rgb(247, 94, 29);
    width: fit-content;
}

li a:hover {
    border-bottom: 1px solid rgb(247, 94, 29);
    width: fit-content;
}

.cta-btn {
    background-color: rgb(49, 8, 254);
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 2px 0px rgba(219, 217, 217, 0.93);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* ------------------down bellow css start-------------------- */
.maindiv-hero {
    display: flex;
    justify-content: space-between;
}

.hero-sec {
    width: 66%;
    min-height: 523px;
}

.side-img-1 img,
.side-img-2 img {
    width: 490px;
    height: 326px;
    border-radius: 5px;
}

.side-img-1 {
    padding-bottom: 16px;
}

.filter-bg {
    background: #F0F0F0;
}

.headline {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

h1 {
    font-size: 20px;
    color: var(--headline-text-color);
}

p {
    margin: 0px;
    color: var(--paragraph-text-co);
}

/* rating code */
.rating {
    background-color: #0D0940;
    color: white;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}

.rating {
    margin: 0;
}

.ratting-area {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.popularity-icon {
    padding-right: 30px;
}

.area-name p {
    color: var(--paragraph-text-co);
}

/*------ dtils code------ */
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details-sec {
    align-items: center;
    display: flex;
    gap: 10px;
}

.details-sec a {
    text-decoration: none;
    color: black;
}

.cta-btn-1,
.cta-btn-3 {
    background-color: rgb(7, 31, 79);
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
}
.cta-btn-1 a,
.cta-btn-3 a {
    text-decoration: none;
    color: white;
}

.cta-btn-1:hover, .cta-btn-3:hover {
    background-color: black;
    transition: all 0.4s linear;
}

.cta-btn-1 a:hover, .cta-btn-3 a:hover {
    color: yellow;
    transition: all 0.4s linear;
}

.cta-btn-3{
    margin: 0% auto;
    align-items: center;
    margin-bottom: 15px;
}
/*--------- Motors details------------ */
.about-details {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.text {
    margin-top: 10px;
}

/* map sec */
.map-sec {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

iframe {
    margin-top: 10px;
    border-radius: 5px;
}

/* ---------rating-sec-------- */
.rating-sec {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.perant-div {
    display: flex;
    gap: 25px;
}

.box-1 {
    background-color: #0D0940;
    color: white;
    max-width: 100px;
    height: 140;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.box-1 em {
    font-size: 30px;
    font-weight: 700;
}

.box-1 p {
    font-size: 10px;
    color: #EEEBEB;
}

.rat-line p {
    font-size: 10px;
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.rating-line {
    width: 145px;
    /* height: 1px; */
    padding: 1px;
    background-color: black;
}

.login {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.login-text {
    display: flex;
    align-items: center;
    gap: 10px;
    /* height: 50px; */
}

.login p {
    text-align: center;
}

.login a {
    color: var(--red-color);
}




/* 
----------------------------right side codes here -----------------------------------*/
span {
    color: var(--red-color);
}

.login-tap {
    text-align: center;
}

.btn-2 {
    margin-top: 10px;
}

.btn-2 button {
    padding: 10px 100px;
}

/* 
----------------------------All reviews codes here -----------------------------------*/
.total-review h3 {
    font-size: medium;
}

.reviews-sec {
    background-color: var(--box-background-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 9px rgba(200, 187, 187, 0.55);
}

.content p,
.more-text p {
    max-width: 500px;
    text-align: justify;
}

#check,
#ch,
#ch-1,
#ch-2 {
    display: none;
}

.more-text {
    display: none;
}

label {
    display: inline-block;
    /* float: right; */
    color: red;
    cursor: pointer;
}

#check:checked~.more-text,
#ch:checked~.more-text,
#ch-1:checked~.more-text,
#ch-2:checked~.more-text {
    display: block;
}

#check:checked~label,
#ch:checked~label,
#ch-1:checked~label,
#ch-2:checked~label {
    visibility: hidden;
}

#check:checked~label::after,
#ch:checked~label::after,
#ch-1:checked~label::after,
#ch-2:checked~label::after {
    content: 'Show Less';
    display: block;
    visibility: visible;
}

/* imgs------------------ */
.review-imgs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews {
    display: flex;
    align-items: center;
}

.post-img img {
    width: 100px;
    height: 70px;
    border-radius: 5px;
}



.name-location {
    display: flex;
    justify-content: space-between;
}

.like-dislike {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    cursor: pointer;
}


footer {
    background: linear-gradient(to bottom,
            #000000,
            #0D0940);
}

.social-media-page {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    gap: 10px;
}

.site-link ul {
    list-style: none;
}

.site-link a {
    text-decoration: none;
    color: rgb(182, 182, 182);
}

.site-link h3 {
    color: white;
}

/* footer links */
.social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 25%;
    /* box-shadow: -1px -1px 4px 1px rgba(207, 198, 198, 0.507); */
}

.social-link-footer:hover {
    background-color: #000000;
    box-shadow: -1px -1px 4px 1px rgba(207, 198, 198, 0.507);
}

.social-link-icon i {
    font-size: 20px;
    color: black;
}

.site-link ul {
    padding-left: 0px;
}

.social-link-footer:hover i {
    color: yellow;
}

.social-link-icon i:hover {
    color: yellow;
}

/* // Small devices (landscape phones, less than 375px-667px) */

@media (max-width: 575.98px) {
    .maindiv-hero {
        height: 250px;
    }

    .area-name p {
        font-size: 10px;
    }

    .popularity-icon i {
        font-size: 15px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px p-15px, btn-fontsize-10px) */
@media (max-width: 991.98px) {
    .ratting-area {
        gap: 0px;
    }

    .popularity-icon {
        font-size: 10px;
    }

    .area-name {
        font-size: 10px;
    }

    .hero-sec {
        width: auto;
        height: 250px;
    }

    .side-img-1 img,
    .side-img-2 img {
        display: none;
    }

    .details-sec {
        font-size: 10px;

    }

    .cta-btn-1 {
        font-size: 10px;
    }

    .rating-line {
        width: 60px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}